<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="css/style.css">
        <title></title>
    </head>
    <body>
        <div id="header"> 
            <h1>E-Commerce Store - <%= title %></h1>
            <form id="adminButton" method="post" action="/logout">
                <input id="logout-admin" type="submit" value="Log out">
            </form>
        </div>
        <div id="content">

            <h2>List of all users</h2>
            <div id="table">
                <table>
                    <tr>
                        <th>UserID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Type of User</th>
                        <%
                            if (owner)
                            { %>
                                <th>Set Admin</th>
                        <%    }
                        %>
                        <th>Set Seller</th>
                        <th>Block User</th>
                        <th>Save</th>
                    </tr>
                    <%
                    if(users.length > 0)
                    {
                        users.forEach(function(result){
                            if(result.type_flag != 3)
                            {
                                if(result.type_flag != 2 || owner)
                                {
                    %>
                    <tr>
                        <form method="post" action="/changeUser">
                            <td><%= result.user_id %></td>
                            <td><%= result.username %></td>
                            <td><%= result.email %></td>
                            <%
                            if (result.type_flag == 0)
                            {
                            %>
                                <td>Buyer</td>
                            <%
                            }
                            else if (result.type_flag == 1)
                            {
                            %>
                                <td>Seller</td>
                            <%
                            }
                            else if (result.type_flag == 2)
                            {
                            %>
                                <td>Admin</td>
                            <%
                            }
                            if (owner)
                            {
                                if(result.type_flag == 2){
                                %>
                                    <td><input type = "checkbox" checked="true" name="admin"></td>
                                <%
                                }
                                else if(result.type_flag == 0){
                                %>    
                                    <td><input type = "checkbox" name="admin"></td>
                                <%
                                }
                                else
                                {
                                %>
                                <td></td>
                                <%
                                }
                            }
                            
                            if(result.type_flag == 1)
                            {
                            %>
                                <td><input type="checkbox" checked="true" name="seller"></td>
                            <%
                            }
                            else if(result.type_flag == 0)
                            {
                            %>
                                <td><input type="checkbox" name="seller"></td>
                            <%
                            }
                            else
                            {
                            %>
                                <td></td>
                            <%
                            }

                            if(result.blocked_flag == 0){
                            %>
                                <td><input type = "checkbox" name="block"></td>
                            <%
                            }
                            else{
                            %>
                                <td><input type = "checkbox" checked="true" name="block"></td>
                            <%
                            }
                            %>
                            <td class="buttons"><input type = "submit" value = "Save"></a></td>

                            <input type="hidden" name ="id" value="<%= result.user_id %>">
                            <input type="hidden" name ="username" value="<%= result.username %>">
                            <input type="hidden" name ="owner" value="<%= owner %>">

                        </form>
                    </tr>
                    <%
                                }
                            }
                        });
                    }
                    else
                    {
                    %>
                    <tr>
                        <td colspan="5">No Data Found</td>
                    </tr>
                    <%
                    }
                    %>
                </table>
            </div>

        </div> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>