<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="css/buyer.css">
    </head>

    <body>
        <div id="header"> 
            <h1>E-Commerce Store</h1>
            <form id="buyerButton" method="post" action="/logout">
                <input id="logout-buyer" type="submit" value="Log out">
            </form>
            <a id="cart" href="cart"><img src="img/cart.png" height="75px"></a>
        </div>
        <div id="content">
            <h1 class="title">Welcome <%= name %></h1>
            <h2 class="title">Browse Books:</h2>
            <%
            if (message != null)
            {
            %>
                <h3 class = "message"><%= message %></h3>
            <%
            }
            %>
            <%
            if (popup != null)
            {
            %>
                <div class = "popup"><h3><%= popup %></h3></div>
            <%
            }
            %>
            <div id="cards">

                

                <%

                books.forEach(function(book)
                {

                %>
                    <form class="card" method="post" action="/viewAllBooks" >
                        <div class="imgBx">
                            <img src="img/<%= book.isbn %>.png">
                        </div>
                        <div class="card_content">
                            <div class="card_details">
                                <h2><%= book.title %><br /><span><%= book.author %></span></h2>
                                <div class="data">
                                    <h3>ISBN:<br /><span><%= book.isbn %></span></h3>
                                    <h3>Category:<br /><span><%= book.category %></span></h3>
                                </div>
                                <div class="card_button">
                                    <input type="submit" value="View All Books">

                                    <input type="hidden" name="isbn" value="<%= book.isbn %>">
                                </div>
                            </div>
                        </div>
                    </form>

                <%
                })
                %>

            </div>
            </div>
        </div>
    </body>
</html>